.avatar img {
  border-radius: 0%;
}

.navigation .navigation-title {
  color: #333;
}

.navigation-item a {
  color: #333;
}

.footer {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

body {
  color: #333;
}
